@page "/jobs/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable 


<div style="display: flex; align-items: center;">
	<img src="css/jobs.png" alt="Jobs Image" style="width: 60px; height: 60px; margin-right: 10px;">
<h3>Jobs</h3>
	<a href="/jobs/create" class="btn btn-secondary custom-btn" style="margin-left: 10px;">
	<span class="oi oi-plus"></span>
	Create New Jobs
</a>
</div>
<br />
<br />

@if (Jobs == null)
{
	<div class="alert alert-info">Loading Jobs...</div>
}
else
{
	<table class="table table-responsive" id="jobsTable">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Location</th>
				<th>Salary</th>
				<th>Company</th>
				<th>Staff</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var job in Jobs)
			{
				<tr>
					<td>@job.Title</td>
					
					<td>
						<button class="btn btn-secondary" @onclick="@(() => ToggleDescription(job.Id))">
							@if (IsDescriptionVisible(job.Id))
							{
								<span>Hide</span>
							}
							else
							{
								<span>Show More</span>
							}
						</button>
						@if (IsDescriptionVisible(job.Id))
						{
							<div>
								@job.Description
							</div>
						}
					</td>
					<td>@job.Location</td>
					<td>@job.Salary</td>
					<td>@job.Company.Name</td>
					<td>@job.Staff.Name</td>
					<td>
						<a href="/Jobs/view/@job.Id" class="btn btn-primary">
							<span class="oi oi-eye"></span>
						</a>
						<a href="/Jobs/edit/@job.Id" class="btn btn-warning">
							<span class="oi oi-pencil"></span>
						</a>
						<button class="btn btn-danger" @onclick="@(()=>Delete(job.Id))">
							<span class="oi oi-delete"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	private List<Job>? Jobs;
	private bool isDataTableInitialized = false;
	private Dictionary<int, bool> showDescriptionStates = new Dictionary<int, bool>();

	protected async override Task OnInitializedAsync()
	{
		_interceptor.MonitorEvent();
		Jobs = await _client.GetFromJsonAsync<List<Job>>($" {Endpoints.JobsEndpoint}");

		if (!isDataTableInitialized)
		{
			await js.InvokeVoidAsync("AddDataTable", "#jobsTable");
			isDataTableInitialized = true;
		}
	}
	async Task Delete(int jobId)
	{
		if (Jobs != null)
		{
			var job = Jobs.First(q => q.Id == jobId);
			var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {job.Title}?");

			if (confirm)
			{
				await _client.DeleteAsync($"{Endpoints.JobsEndpoint}/{jobId}");
				await OnInitializedAsync();
			}
		}
	}

	void ToggleDescription(int jobId)
	{
		if (showDescriptionStates.ContainsKey(jobId))
		{
			showDescriptionStates[jobId] = !showDescriptionStates[jobId];
		}
		else
		{
			showDescriptionStates.Add(jobId, true);
		}
	}

	bool IsDescriptionVisible(int jobId)
	{
		return showDescriptionStates.ContainsKey(jobId) && showDescriptionStates[jobId];
	}


	public void Dispose()
	{
		js.InvokeVoidAsync("DataTablesDispose", "#jobsTable");
	}
}
