@page "/courses/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable 


<div style="display: flex; align-items: center;">
<img src="css/courses.png" alt="Courses Image" style="width: 60px; height: 60px; margin-right: 10px;">
<h3>Courses</h3>
<a href="/courses/create" class="btn btn-secondary custom-btn" style="margin-left: 10px;">
	<span class="oi oi-plus"></span>
	Create New Courses
</a>
</div>
<br />
<br />

@if (Courses == null)
{
	<div class="alert alert-info">Loading Courses...</div>
}
else
{
	<table class="table table-responsive" id="coursesTable">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Location</th>
				<th>Organizer</th>
				<th>Staff</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var course in Courses)
			{
				<tr>
					<td>@course.Title</td>
					
					<td>
						<button class="btn btn-secondary" @onclick="@(() => ToggleDescription(course.Id))">
							@if (IsDescriptionVisible(course.Id))
							{
								<span>Hide</span>
							}
							else
							{
								<span>Show More</span>
							}
						</button>
						@if (IsDescriptionVisible(course.Id))
						{
							<div>
								@course.Description
							</div>
						}
					</td>
					<td>@course.Location</td>
					<td>@course.Organizer.Name</td>
					<td>@course.Staff.Name</td>

					<td>
						<a href="/Courses/view/@course.Id" class="btn btn-primary">
							<span class="oi oi-eye"></span>
						</a>
						<a href="/Courses/edit/@course.Id" class="btn btn-warning">
							<span class="oi oi-pencil"></span>
						</a>
						<button class="btn btn-danger" @onclick="@(()=>Delete(course.Id))">
							<span class="oi oi-delete"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	private List<Course>? Courses;
	private bool isDataTableInitialized = false;
	private Dictionary<int, bool> showDescriptionStates = new Dictionary<int, bool>();

	protected async override Task OnInitializedAsync()
	{
		_interceptor.MonitorEvent();
		Courses = await _client.GetFromJsonAsync<List<Course>>($" {Endpoints.CoursesEndpoint}");

		if (!isDataTableInitialized)
		{
			await js.InvokeVoidAsync("AddDataTable", "#coursesTable");
			isDataTableInitialized = true;
		}
	}
	async Task Delete(int courseId)
	{
		if (Courses != null)
		{
			var course = Courses.First(q => q.Id == courseId);
			var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {course.Title}?");

			if (confirm)
			{
				await _client.DeleteAsync($"{Endpoints.CoursesEndpoint}/{courseId}");
				await OnInitializedAsync();
			}
		}
	}

	void ToggleDescription(int courseId)
	{
		if (showDescriptionStates.ContainsKey(courseId))
		{
			showDescriptionStates[courseId] = !showDescriptionStates[courseId];
		}
		else
		{
			showDescriptionStates.Add(courseId, true);
		}
	}

	bool IsDescriptionVisible(int courseId)
	{
		return showDescriptionStates.ContainsKey(courseId) && showDescriptionStates[courseId];
	}

	public void Dispose()
	{
		js.InvokeVoidAsync("DataTablesDispose", "#coursesTable");
	}
}
