@inject HttpClient _client


<EditForm Model="@jobapplication" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled" >

        <div class="form-group">
            <label>Application Date: </label>
            <div>
                <InputDate @bind-Value="@jobapplication.ApplicationDate" class="form-control" />
                <ValidationMessage For="@(() => jobapplication.ApplicationDate)" />
            </div>
        </div>

        <div class="form-group">
        <label>JobSeeker: </label>
        <div>
            <InputSelect @bind-Value="jobapplication.JobSeekerID" class="form-control">
                <option value="">-- Select JobSeeker --</option>
                @if (JobSeekers != null)
                {
                    foreach (var jobseeker in JobSeekers)
                    {
                        <option value="@jobseeker.Id">@jobseeker.Name</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => jobapplication.JobSeekerID)" />
        </div>
    </div>

    <div class="form-group">
        <label>Job: </label>
        <div>
            <InputSelect @bind-Value="jobapplication.JobID" class="form-control">
                <option value="">-- Select Job --</option>
                @if (Jobs != null)
                {
                    foreach (var job in Jobs)
                    {
                        <option value="@job.Id">@job.Title</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => jobapplication.JobID)" />
        </div>
    </div>


    
    </fieldset>
    <br />

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="jobapplications" />

</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public JobApplication? jobapplication { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<JobSeeker>? JobSeekers;
    private IList<Job>? Jobs;

    protected async override Task OnInitializedAsync()
    {
        JobSeekers = await _client.GetFromJsonAsync<List<JobSeeker>>($"{Endpoints.JobSeekersEndpoint}");
        Jobs = await _client.GetFromJsonAsync<List<Job>>($"{Endpoints.JobsEndpoint}");
    }

}